@font-face {
    font-family: 'Pfagora Sans Pro';
    src:
        url('../font/PFAGORASANSPRO-REG.woff2') format('woff2'),
        url('../font/PFAGORASANSPRO-REG.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pfagora Sans Pro';
    src:
        url('../font/PFAGORASANSPRO-BOLD.woff2') format('woff2'),
        url('../font/PFAGORASANSPRO-BOLD.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pfagora Sans Pro';
    src:
        url('../font/PFAGORASANSPRO-LIGHT.woff2') format('woff2'),
        url('../font/PFAGORASANSPRO-LIGHT.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pfagora Sans Pro';
    src:
        url('../font/PFAGORASANSPRO-MEDIUM.woff2') format('woff2'),
        url('../font/PFAGORASANSPRO-MEDIUM.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pfagora Sans Pro';
    src:
        url('../font/PFAGORASANSPRO-THIN.woff2') format('woff2'),
        url('../font/PFAGORASANSPRO-THIN.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Pfagora Sans Pro';
    src:
        url('../font/PFAGORASANSPRO-BLACK.woff2') format('woff2'),
        url('../font/PFAGORASANSPRO-BLACK.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}