*, *:before, *:after
  box-sizing: border-box
*, *:before, *:after *:active *:focus *:hover
  outline: 0
  outline-offset: 0
html
  font-size: 14px
body
  display: flex !important
  flex-direction: column !important
  justify-content: space-between !important
  font-family: 'Pfagora Sans Pro', sans-serif !important
  font-weight: 400 !important
  font-size: 1rem !important
  overflow-x: hidden !important
img
  max-width: 100%
  height: auto
h1, h2, h3, h4, h5, h6, p
  margin: 0
  padding: 0
a
    text-decoration: none
figure
  margin: 0
  padding: 0